name: Golang

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  golangci:
    strategy:
      matrix:
        go-version: [1.15.x, 1.17.x]
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.43

  release:
    needs: golangci
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: go-semantic-release
        uses: go-semantic-release/action@v1.15
        with:
          github-token: ${{ secrets.PAT }}
